<div class="msg">
  <div class="msg-container">
    <% if status == :completed %>
    <p>You don't have any completed tasks</p>
    <% elsif status == :uncompleted %>
    <p>You don't have any tasks to do</p>
    <% end %>
  </div>
</div>
