<div class="task">
  <div class="row">
    <div class="col-11">
      <h3 class="mb-0"><%= task.title %></h3>     
    </div>
    <div class="col-1">
      
      <div class="dropdown">
        <a class="dropdown-toggle fas fa-ellipsis-h" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <li><a class="dropdown-item" href="#">Mark as completed</a></li>
          <li><a class="dropdown-item" href="<%= edit_task_path(task) %>">Edit task</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><%= link_to 'Delete task', task_path(task), data: {method: :delete, confirm: 'Are you sure?'}, class: 'dropdown-item' %></li>
        </ul>
      </div>
    </div>
  </div>
  <p><%= task.body %></p>
</div>
