<div class="homepage-content">
  <div class="container">
    <div class="get-started">
      <p class="message">Get everything in order with <br/>Todolist</p>
      <button type="button" class="btn btn-lg btn-outline-success btn-get-started">Get started</button>
    </div>
  </div>
</div>
