.app-container {
  color: white;
  display: flex;
  padding-top: 1.5rem;
  font-family: 'Urbanist', sans-serif;
}

.app-text { 
  font-family: 'Urbanist', sans-serif;
}

.app-link {
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
  font-family: 'Urbanist', sans-serif;
}

.app-link:hover {
  color: white;
}

.accordion-collapse {
  padding-left: 2rem;
}

.app-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-form {
  padding-top: 2rem;
  width: 50%;
}

.task {
  border-radius: 0.75rem;
  background-color: rgba(255, 255, 255, 0.95);
  margin-left: 10%;
  margin-right: 10%;
  padding: 1rem 2.5rem;
  color: black;
  margin-bottom: 1.5rem;
  h3 {
    padding-bottom: 0.3rem;
    word-break: break-all;
    border-bottom: 1px solid rgb(218, 218, 218);
  }
  p {
    padding-top: 0.5rem;
    font-size: 1.25rem;
    word-break: break-all;
  }
}

.add-category {
  font-size: 1.1rem;
  color: rgb(173, 173, 173);
  text-decoration: none;
}

.dropdown-toggle {
  text-decoration: none;
  color: rgb(158, 158, 158);
  font-size: 1.25rem;
}

.dropdown-toggle:hover {
  color: rgb(151, 0, 0);
}

.dropdown-toggle::after {
  content: none;
}

.task-status {
  border-bottom: 1px solid rgb(163, 163, 163);
}
.task-title {
  margin-top: 10px;
}
