.log-in {
  border-radius: 1rem;
  padding: 0.5rem 1.5rem;
  margin-left: auto;
  margin-right: 10px;
}
.sign-up {
  border-radius: 1rem;
  padding: 0.5rem 1.5rem;
}
.todolist-nav {
  font-family: 'Dancing Script', cursive;
  color: #f8f9fa;
  font-size: 4rem;
}
.todolist-nav:hover {
  color: #f8f9fa;
}

.todolist {
  font-family: 'Dancing Script', cursive;
  color: #f8f9fa;
  font-size: 3.5rem;
}
